<h1>Hola {{Nombre | elipsis:10 | uppercase}}</h1>
<p>
  <input type="text" [(ngModel)]="Nombre">
  <input type="button" value="Saluda" (click)="saluda()">
  <input type="button" value="Despide" (click)="despide()">
  <input type="button" value="Di" (click)="di('algo')">
  <input type="button" value="Cambia" (click)="cambia()">
  <input type="button" value="Notifica" (click)="notify.add('Esto es una demo')">
</p>
<p [innerHTML]="resultado">xxxxx</p>
<p [hidden]="!visible">Ahora me ves</p>
<p *ngIf="visible">Ahora existo</p>
<p [ngClass]="estetica">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo, dolores asperiores nemo totam molestiae obcaecati atque animi quaerat, maiores tempore numquam magnam ea consectetur illo. Natus placeat saepe illum assumenda?
</p>
<p>
  Calcula: 2 + 2 = {{(2 + 2) | percent:'2.2-2'}} =
    {{calcula(2,2) | currency:'EUR':'symbol':'1.2-2' }}
</p>

<ul>
  <li *ngFor="let item of Listado | slice: -5; let ind=index; let fondo=odd;"
  [style.background-color]="fondo ? 'LightBlue' : 'Lavender'">
  {{item.nombre | titlecase}} ({{item.id}} en la posición {{ind + 1}})
  </li>
</ul>
<p>
  <select [(ngModel)]="idProvincia" >
    <option value="">--Elige opción--</option>
    <option *ngFor="let p of Listado" [value]="p.id">{{p.nombre}}</option>
  </select>
  Selecionado: {{idProvincia}}
  <input type="text" value="Sevilla" #txtProvincia>
  <input type="button" value="Add"
    (click)="add(txtProvincia.value)">
</p>
{{Listado | json}}
